.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}


.imgUrl {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}