.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(141, 83, 42);
  }
  
  .image {
    margin: 0;
    max-width: 100%;
    height: auto;
  }

  .title {
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.5em;
  }

  .boton {
    width: 15%;
    margin: 1em;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  