.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 350px;
    height: 420px;
}



.img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: white;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}